In [26]:
import tensorflow  as tf
from tensorflow import keras
from pathlib import Path
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer
import json

In [2]:
tf.__version__

'2.3.0'

In [15]:
tf.test.gpu_device_name()

''

In [4]:
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  0

In [5]:
root = Path.cwd().resolve().parents[0] 
data = Path(root) / "data"

In [6]:
df = pd.DataFrame()
for file in data.glob("*.csv"):
    df = pd.read_csv(str(file))
df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [12]:
for name in df.columns:
    df.rename(columns={name: str(name).replace(" ", "")}, inplace=True)
df.columns

Index(['ShowNumber', 'AirDate', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [8]:
df.shape

(216930, 7)

In [25]:
df.iloc[8,:]["Question"]

'In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state'

In [17]:
df.Round.unique()

array(['Jeopardy!', 'Double Jeopardy!', 'Final Jeopardy!', 'Tiebreaker'],
      dtype=object)

In [18]:
df.Category.nunique()

27995

## 1. senetence segmentation

In [27]:
tk = Tokenizer(num_words=1000)
tk.fit_on_texts(df.iloc[8,:]["Question"])

In [28]:
tk.document_count

109

In [37]:
tk.texts_to_sequences(df.iloc[8,:]["Question"])

[[1],
 [3],
 [],
 [4],
 [10],
 [2],
 [],
 [13],
 [1],
 [3],
 [4],
 [2],
 [5],
 [],
 [8],
 [11],
 [],
 [9],
 [18],
 [14],
 [9],
 [],
 [14],
 [12],
 [],
 [],
 [6],
 [],
 [5],
 [2],
 [15],
 [8],
 [5],
 [16],
 [],
 [9],
 [],
 [9],
 [12],
 [12],
 [],
 [1],
 [3],
 [15],
 [10],
 [2],
 [7],
 [],
 [8],
 [11],
 [],
 [7],
 [3],
 [8],
 [13],
 [],
 [11],
 [2],
 [17],
 [17],
 [],
 [6],
 [4],
 [],
 [5],
 [6],
 [1],
 [3],
 [1],
 [2],
 [5],
 [],
 [19],
 [6],
 [5],
 [6],
 [16],
 [1],
 [7],
 [2],
 [],
 [5],
 [6],
 [3],
 [20],
 [2],
 [5],
 [],
 [7],
 [4],
 [6],
 [4],
 [1],
 [8],
 [3],
 [],
 [1],
 [3],
 [],
 [4],
 [10],
 [1],
 [7],
 [],
 [7],
 [4],
 [6],
 [4],
 [2]]

In [39]:
tk.texts_to_matrix(df.iloc[8,:]["Question"])

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [40]:
tk.word_index

{'i': 1,
 'e': 2,
 'n': 3,
 't': 4,
 'r': 5,
 'a': 6,
 's': 7,
 'o': 8,
 '1': 9,
 'h': 10,
 'f': 11,
 '2': 12,
 'w': 13,
 '7': 14,
 'c': 15,
 'd': 16,
 'l': 17,
 '9': 18,
 'p': 19,
 'g': 20}